table {
	border: 1px solid silver;
}

td:hover {
	background-color: darkturquoise;
	color:black;
}

tr, th {
	background-color: black;
	color: aqua;
}

tr, td{
	background-color: indigo;
	color: gold;
}